{% extends 'login_base.html' %}
{% load static %}

{% block content %}
<div class="heading">
    <h1>SorSU Document Management System</h1>
    <h3>Bulan Campus</h3>
</div>
<div class="log-in-container">
    <form method="post" class="log-in">
    {% csrf_token %}
        <div class="log-in-text">
            <h3>Log In</h3>
        </div>

        <div class="username-container">
            <p>Username:</p>
            <input type="text" id="username" placeholder="Enter Username">
        </div>

        <div class="password-container">
            <p>Password: <a href="{% url 'Forgot_Password'%}">Forgot Password?</a></p>
            <input type="password" id="password" placeholder="Enter Password">
        </div>

        <div class="button-container">
            <button type="submit">Continue</button>
            {% if error_message %}
                <p style="color:red;">{{ error_message }}</p>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}