{% extends 'login_base.html' %}
{% load static %}

{% block content %}
<div class="heading">
    <h1>SorSU Document Management System</h1>
    <h3>Bulan Campus</h3>
</div>

<div class="log-in-container">
  <div class="log-in">
    <div class="log-in-text">
        <h3>Change your password</h3>
    </div>

    <div class="username-container">
        <p>New Password:</p>
        <input type="password" placeholder="Enter Username">
    </div>

    <div class="username-container">
      <p>Confirm New Password:</p>
      <input type="password" placeholder="Enter Username">
  </div>

    <div class="RPR-container">
        <button>Change Password</button>
    </div>
  </div>
</div>
{% endblock %}=