{% extends 'faculty_sidebar2.html' %}

{% block content %}
  {% load static %}
  <div class="My-Profile-Header">
  <header>
    <h1>My Profile</h1>
  </header>
  </div>
  <div class="profile-container2">
    <div class="profile-container">
      <div id="icon">
        <img src="{% static './faculty/assets/Profile icon.jpg' %}" alt="img error">
      </div>
    
      <div class="profile-info">
        <div>
          <h2>Alexander Ross</h2>
        </div>
          <div class="profile-info2">
            <p >CICT Department</p>
          <p class="bx-location">Bulan, Sorsogon</p>
          <p>alexander_ross@gmail.com</p>
          </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  
  <!-- Container for the buttons and content areas -->
    <div class="container">
      <!-- Button 1 -->
      <button class="button1" id="btn1">Personal Information</button>
      
      <!-- Button 2 -->
      <button class="button2" id="btn2">Change Password</button>
      
      <!-- Content area 1 -->
      <div class="content" id="content1">
        <div class="p-info-container">
          <div id="avatar">
            <img src="{% static './faculty/assets/Profile icon.jpg' %}" alt="img error">
            <br>
            <button class="button3" id="btn3">Change Profile</button>
          </div>

          <div id="change-profile" class="profile">

            <div class="profile-content">
                <span class="close">&times;</span>
                <img src= "{% static './faculty/assets/Profile icon.jpg' %}" alt="error">
                <form action="" method="post">
                <input type="file" name="fileToUpload" id="fileToUpload">
                <br>
                <input type="submit" value="Upload Image" name="submit">
                </form>
            </div>
          </div>
          <div class="personal-info">
            <label for="firstname">First Name :</label>
            <input type="text" id="first-name">
            <br>
            <label for="middlename">Middle Name:</label>
            <input type="text" id="middle-name">
            <br>
            <label for="lastname">Last Name:</label>
            <input type="text" id="last-name">
            <br>
            <label for="address">Address:</label>
            <input type="text" id="address">
            <br>
            <label for="phonenummber">Phone Number:</label>
            <input type="number" id="phone-number">
            <br>
            <label for="emailadd">E-mail Address:</label>
            <input type="email" id="email-address">
            <br>
            <label for="department">Department:</label>
            <input type="text" id="department">
            <br>
            <br>
            <button class="button4" id="btn4">Submit</button>
            <button class="button4" id="btn4">Discard</button>
        </div>
      </div>

      </div>
      
      <!-- Content area 2 -->
      <div class="content" id="content2">
        <div class="personal-info">
          <label for="username">Username :</label>
          <input type="text" id="user-name">
          <br>
          <label for="password">Password:</label>
          <input type="text" id="password">
          <br>
          <label for="newPassword">New Password:</label>
          <input type="text" id="new-password">
          <br>
          <label for="confirmPassword">Confirm Password:</label>
          <input type="text" id="confirm-password">
          <br>
          <br>
          <button class="button4" id="btn4">Submit</button>
          <button class="button4" id="btn4">Discard</button>
        </div>
      </div>
    </div>


{% endblock %}