@media (min-width:451px) and (max-width:600px) and (min-height:300px){
  .sidebar{
    width:60px;
  }
  .ssu-logo-container img{
    width:30px;
    margin-left:4px;
  }
  .sidebar-toogle{
    width:20px;
    height:20px;
    border-radius:10px;
  }
  .sidebar.open{
    width:210px;
  }
  .system-title{
    font-size:10px;
  }
  .text-container{
    font-size:10px;
  }
  .file-icon-container img{
    width:16px;
  }
  .menu-container p{
    font-size: 12px;
  }
  .profile-container img{
    width:18px;
  }
  .profile-menu p{
    font-size:12px;
    letter-spacing: 1px;
  }
  .log-out-switch p{
    font-size:12px;
    letter-spacing: 1px;
  }
  .switch-container{
    width:40px;
    height:20px;
    border-radius:10px;
    
  }
  .switch{
    width:14px;
    height:14px;
    border-radius: 7px;
  }

  /*content sizing*/
  main{
    margin-left:74px;
    margin-right:16px;
    margin-top:16px;
    height:100vh;
  }
  header{
    width:100%;
    height:30px;
  }
  h1{
    font-size:24px;
  }
  body.dark h1{
    color:var(--primary-color-light)
  }
  .search-upload-sort-container{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
  }
  .upload-sort-container button{
    border-style:solid;
    border-width: 1px;
    border-color:var(--toogle-color);
    border-radius: 17px;
    height:100%;
  }
  .upload-sort-container .upload{
    width:70px;
    margin-right:6px;
  }
  .upload-sort-container .sort{
    width:60px;
  }
  .search-container{
    display:flex;
    justify-content: center;
    width:50%;
  }
  .search-container input{
    width:100%;
    height:34px;
    border-style:solid;
    border-width:1px;
    border-color:var(--toogle-color);
    padding-inline: 10px;
    border-top-left-radius:17px ;
    border-bottom-left-radius:17px;
    border-right-style: none;
    background-color: var(--primary-color-light);
  }
  .search-container:hover{
    input,button{
      border-color:rgb(165, 17, 17);
    }
  }
  .search-container button{
    width:14%;
    border-style:solid;
    border-width:1px;
    border-color:var(--toogle-color);
    border-left-style: none;
    border-top-right-radius:17px;
    border-bottom-right-radius: 17px;
    background-color: var(--primary-color-light);
    display:flex;
    align-items: center;
  }

  #icon img{
    height: 50px;
    width: 40px;
  }
}




